body{
    background-color: #EDEFEE;
    font-family: 'Markazi Text', serif;
    margin:3rem 5rem 3rem 5rem;
}
h1{
    text-align: center;
    font-size: 3rem;
    color: #2E2E2E;
}
h2{
    font-size: 2.5rem;
    color: #2E2E2E;
}
p{
    font-size: 1.5rem;
    color: #2E2E2E;
}
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:"30%";
    align-items: center;
}

nav{
    background-color: #333333;
    border-radius: 1rem;
    margin: 1rem 0rem 1rem 0rem;
}
nav ul{
    list-style-type: none;
    font-size: 2rem;
    text-align: center;
    padding-inline-start: 0rem;
}
nav ul li{
    display: inline;
    margin: 0.5rem;;
}
nav ul li a{
    text-decoration: none;
    color: #EDEFEE;
    padding: 1rem;
}
nav ul li a:active{
    text-decoration: underline;
}
nav ul li a:hover{
    color: #EDEFEE;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
}
section{
    display: flex;
    gap: 3rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
article{
    flex: 1rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
}
.container{
    background-image: url(/LittleLemon/Off.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}
section article h2{
    color: #495e57;
}section article h1{
    color: #495e57;
}
.parag{
    margin-left: 1rem;
    margin-right: 1rem;
}
article img{
    width: 100%;
    border-radius: 1rem;
}
main article {
    text-align: center;
    background-color: #fbdabb79;
    padding-left: auto;
    padding-right: auto;
}
footer{
    color: #EDEFEE;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
}
footer div{
    flex: 1;
}
footer img {
    max-width: 50%;
}
footer p{
    border-top: #333333;
    border-style: solid;
    border-width: 0.1rem;
    border-bottom: none;
    border-left: none;
    border-right: none;
    text-align: right;
}